<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Beneficiaire Table</h4>
              <p class="card-category">Details of each beneficiaire</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>Household Size</th>
                      <th>Special Needs</th>
                      <th>Income Level</th>
                      <th>Address</th>
                      <th>Contact Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of data.results.bindings">
                      <td>{{ item.householdSize.value }}</td>
                      <td>{{ item.specialNeeds.value }}</td>
                      <td>{{ item.incomeLevel.value }}</td>
                      <td>{{ item.address.value }}</td>
                      <td>{{ item.contactNumber.value }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  