<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Table</h4>
              <p class="card-category">Here is a subtitle for this table</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" *ngIf="data?.results?.bindings">
                  <thead class="text-primary">
                    <tr>
                      <th>Collection Date</th>
                      <th>Quantity Collected</th>
                      <th>Is Recurring</th>
                      <th>Collection Location</th>
                      <th>Collection Method</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of data.results.bindings">
                      <td>{{ item.collectionDate?.value | date: 'yyyy-MM-dd' }}</td>
                      <td>{{ item.quantityCollected?.value }}</td>
                      <td>{{ item.isRecurring?.value }}</td>
                      <td>{{ item.collectionLocation?.value }}</td>
                      <td>{{ item.collectionMethod?.value }}</td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="!data?.results?.bindings">No data available.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  